# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = ammo_carrier.wad

# Rendering options
screen_resolution = RES_320X240
screen_format = CRCGCB
render_hud = true
render_crosshair = true
render_weapon = true
render_decals = false
render_particles = false
window_visible = false

# Make episodes finish after 3500 actions (tics)
episode_timeout = 3500

# Available buttons
available_buttons =
    {
        TURN_LEFT
        TURN_RIGHT
        MOVE_FORWARD
        MOVE_LEFT
        MOVE_RIGHT
		ATTACK
    }

# Game variables that will be in the state
# 41: ac_shooter_ammo_global
# 42: ac_carrier_deliveries_global
# 43: ac_world_ammo_packs_global
# 44: ac_alive_enemies_global
# 45: ac_low_ammo_alert_global
available_game_variables = { HEALTH AMMO1 KILLCOUNT HITCOUNT DAMAGECOUNT SELECTED_WEAPON POSITION_X POSITION_Y ANGLE USER41 USER42 USER43 USER44 USER45 }

mode = PLAYER
