doom_scenario_path = coop_health_gathering.wad

living_reward = 0

screen_resolution = RES_320X240
screen_format = CRCGCB
render_hud = true
render_crosshair = true
render_weapon = true
render_decals = false
render_particles = false
window_visible = false
render_screen_flashes = true

episode_timeout = 2100

available_buttons =
	{
		MOVE_FORWARD
		MOVE_BACKWARD
		MOVE_RIGHT
		MOVE_LEFT
		TURN_LEFT
		TURN_RIGHT
	}

# USER3: chg_chain_stretches_global, USER4: chg_total_pickups_global
# USER60: chg_p0_pickups (player 0 health kit pickups)
# USER61: chg_p1_pickups (player 1 health kit pickups)
# USER62: chg_p2_pickups (player 2 health kit pickups)
# USER63: chg_p3_pickups (player 3 health kit pickups)
available_game_variables = { HEALTH USER3 USER4 USER60 USER61 USER62 USER63 POSITION_X POSITION_Y }

mode = PLAYER
doom_skill = 3