doom_scenario_path = dumb_enemies.wad

living_reward = 0

screen_resolution = RES_320X240
screen_format = CRCGCB
render_hud = true
render_crosshair = true
render_weapon = true
render_decals = false
render_particles = false
window_visible = false

# 4500 tics = 2.5 minutes
episode_timeout = 4500

available_buttons =
        {
                MOVE_FORWARD
                MOVE_BACKWARD
                MOVE_RIGHT
                MOVE_LEFT
                TURN_LEFT
                TURN_RIGHT
                ATTACK
        }

# USER31: de_alive_enemies_global
# USER32: de_slow_enemies_global
# USER33: de_slow_events_global
# USER34: de_spawn_events_global
available_game_variables = { AMMO2 HEALTH KILLCOUNT HITCOUNT POSITION_X POSITION_Y USER31 USER32 USER33 USER34 }

mode = PLAYER
doom_skill = 3