doom_scenario_path = foraging_commons.wad

living_reward = 0

screen_resolution = RES_320X240
screen_format = CRCGCB
render_hud = true
render_crosshair = false
render_weapon = false
render_decals = false
render_particles = false
window_visible = false

episode_timeout = 5250

available_buttons =
    {
        TURN_LEFT
        TURN_RIGHT
        MOVE_FORWARD
        MOVE_BACKWARD
        MOVE_LEFT
        MOVE_RIGHT
    }

# HEALTH  - native per-agent health
# USER1   - fc_spawn_rate
# USER2   - fc_total_harvest
# USER3   - fc_total_cleanups
# USER4-7 - per-agent harvest counters
# USER8-11 - per-agent cleanup counters
# USER12-15 - per-agent cleanup progress counters
available_game_variables = { HEALTH USER1 USER2 USER3 USER4 USER5 USER6 USER7 USER8 USER9 USER10 USER11 USER12 USER13 USER14 USER15 }

mode = PLAYER
doom_skill = 3
