# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = lava_maze.wad

living_reward = 0

screen_resolution = RES_320X240
screen_format = CRCGCB
render_hud = true
render_crosshair = true
render_weapon = true
# render_decals = false
# render_particles = false
window_visible = false
render_screen_flashes = true


# 5250 tics = 2.5 minutes
episode_timeout = 5250 

# Available buttons
available_buttons =
	{
		MOVE_FORWARD
		MOVE_BACKWARD
		MOVE_RIGHT
		MOVE_LEFT
		TURN_LEFT
		TURN_RIGHT
        LOOK_UP
        LOOK_DOWN
		ATTACK
		SELECT_WEAPON1
		SELECT_WEAPON2
		SELECT_WEAPON3
		SELECT_WEAPON4
	}

# USER11: maze_size, USER13: goal_x, USER14: p1_x, USER15: p1_y, USER18: goal_y, USER19, USER20, USER21 hold the 81 bits of the 9x9 maze, USER22: levels_completed, USER23: can_see
available_game_variables = { HEALTH USER11 USER13 USER14 USER15 USER18 USER19 USER20 USER21 USER22 USER23 WEAPON2 }

mode = PLAYER
doom_skill = 3
