# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = platform_chain.wad

living_reward = 0

screen_resolution = RES_320X240
screen_format = CRCGCB
render_hud = true
render_crosshair = false
render_weapon = false
window_visible = false
render_screen_flashes = true

episode_timeout = 5250

available_buttons =
    {
        TURN_LEFT
        TURN_RIGHT
        MOVE_FORWARD
        MOVE_LEFT
        MOVE_RIGHT
        JUMP
    }

# USER51: max chain distance among linked pairs (fixed-point 16.16)
# USER52: cumulative chain break events
# USER53: dragged link count in latest ACS update window
# USER54: current joint route checkpoint among active players
# USER55: current joint route progress among active players (fixed-point 16.16)
available_game_variables = { HEALTH POSITION_Z USER51 USER52 USER53 USER54 USER55 }

mode = PLAYER
doom_skill = 3
