doom_scenario_path = smart_enemies.wad

living_reward = 0

screen_resolution = RES_320X240
screen_format = CRCGCB
render_hud = true
render_crosshair = true
render_weapon = true
render_decals = false
render_particles = false
window_visible = false

# 4500 tics = 2.5 minutes
episode_timeout = 4500

available_buttons =
	{
		MOVE_FORWARD
		MOVE_BACKWARD
		MOVE_RIGHT
		MOVE_LEFT
		TURN_LEFT
		TURN_RIGHT
		ATTACK
	}

# Game variables that will be in the state
# USER31: se_alive_enemies_global
# USER32: se_fast_enemies_global
# USER33: se_fast_events_global
# USER34: se_spawn_events_global
available_game_variables = { AMMO2 HEALTH KILLCOUNT POSITION_X POSITION_Y USER31 USER32 USER33 USER34 }

mode = PLAYER
doom_skill = 3
