doom_scenario_path = stag_hunt_arena.wad

living_reward = 0

screen_resolution = RES_320X240
screen_format = CRCGCB
render_hud = true
render_crosshair = true
render_weapon = true
render_decals = false
render_particles = false
window_visible = false

# 4500 tics ~= 2.1 minutes
episode_timeout = 4500

available_buttons =
    {
        MOVE_FORWARD
        MOVE_BACKWARD
        MOVE_RIGHT
        MOVE_LEFT
        TURN_LEFT
        TURN_RIGHT
        ATTACK
    }

# Game variables that will be in the state
# USER51: sh_stag_health
# USER52: sh_stag_vulnerable
# USER53: sh_rabbit_kills
# USER54: sh_stag_kills
# USER55: sh_stag_alive
# USER56: sh_p1_rabbit_kills
# USER57: sh_p2_rabbit_kills
# USER58: sh_p3_rabbit_kills
# USER59: sh_p4_rabbit_kills
available_game_variables = { HEALTH KILLCOUNT DAMAGECOUNT POSITION_X POSITION_Y USER51 USER52 USER53 USER54 USER55 USER56 USER57 USER58 USER59 }

mode = PLAYER
doom_skill = 3
