# CMake and building output
**/bin
**/build

*.egg-info

# Python
*.pyd
*.pyc
examples/python/*.cfg
examples/python/*.ini
dist
venv
.eggs
vizdoom.egg-info
wheelhouse

# Game wads, scenarios backups, logs, demos and personal configurations
*.bak
*.bcp
*.lmp
*.log
*.zip
**/doom2.wad
**/doom.wad
**/freedoom2.wad
**/freedoom1.wad
**/freedm.wad
**_vizdoom.ini

# MacOS
.DS_Store

# Visual Studio Code
.vscode

# CLion & PyCharm
**/.idea

# Checkpoint folder
checkpoints/
train_dir/
wandb/
*/.env
sf/jobs
sf/templates
sf/send.sh
comrad/jobs
comrad/templates
comrad/send.sh

# misc
asdf.py
